* {
    /* get full box size */
    box-sizing: content-box;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    border: 1px black solid;
    padding: 1rem;
}

#gameContainer > * {
  margin: 0.5rem;
}